/node_modules
/vendor
/storage/debugbar
/storage/framework/views
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/public/**/*.map
/public/sitemap.xml
/public/media
*.log
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea 
