.settings {
    .navigation-menu {
        .menu-list {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            flex-direction: column;

            .item {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 7px 10px;
                font-size: 21px;
                font-weight: 400;
                text-transform: capitalize;
                color: var(--black);
                cursor: pointer;
                border-left: 2px solid transparent;
                transition: 0.2s;
                margin-bottom: 5px;

                &:hover,
                &:focus,
                &.active {
                    transition: 0.2s;
                    color: #ff0a75;
                    border-left: 2px solid #ff0a75;
                }

                .icon {
                    height: inherit;
                    width: auto;
                    padding-right: 10px;
                    font-weight: 600;
                    font-size: 17px;
                }
            }
        }
    }

    .setting-content {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
    }

    .notification {
        .notification-area {
            .item {
                display: grid;
                grid-template-areas: "title title" "alert switch";
                grid-template-columns: auto 16%;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 20px;

                &.row-block {
                    display: block;

                    .input-controls {
                        padding-top: 4px;
                        text-align: left;
                        display: inline-flex;
                        flex-direction: column;

                        .input-fields {
                            margin: 0px 0 4px;
                            font-size: 15px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            input {
                                padding: 7px;
                                height: 15px;
                                width: 15px;
                            }

                            [type=radio]:after {
                                width: 15px;
                                height: 14px;
                            }
                        }
                    }
                }

                .title {
                    grid-area: title;
                }

                .input-controls {
                    grid-area: switch;
                    text-align: right;
                    justify-content: right;
                }

                .alert {
                    grid-row: alert;
                    color: var(--gray-black);
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }
    }
}

.before-point::before {
    content: "";
    width: 7px;
    height: 7px;
    background: #6f6f6f;
    position: absolute;
    left: 0;
    border-radius: 100px;
}

.post-containter:hover>.tools .post-tools-hover {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: 0.5s;
}

.post-tools-hover {
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: 0.5s;
}